USE [master]
GO
/****** Object:  Database [veritabaniAdi]    Script Date: 1.05.2022 16:01:09 ******/
CREATE DATABASE [veritabaniAdi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'veritabaniAdi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\veritabaniAdi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'veritabaniAdi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\veritabaniAdi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [veritabaniAdi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [veritabaniAdi]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1.05.2022 16:01:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[birTabloes]    Script Date: 1.05.2022 16:01:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[birTabloes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Isim] [nvarchar](max) NULL,
	[Ucret] [real] NOT NULL,
	[DogumTarihi] [datetime] NOT NULL,
	[MezunMu] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.birTabloes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[birTabloes] ON 

INSERT [dbo].[birTabloes] ([Id], [Isim], [Ucret], [DogumTarihi], [MezunMu]) VALUES (1, N'deneme', 2.44, CAST(N'1999-01-01T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[birTabloes] ([Id], [Isim], [Ucret], [DogumTarihi], [MezunMu]) VALUES (2, N'ahmet demirci', 333.333, CAST(N'2009-02-13T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[birTabloes] ([Id], [Isim], [Ucret], [DogumTarihi], [MezunMu]) VALUES (4, N'ayşe bakırcı', 1.11112225, CAST(N'1888-05-15T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[birTabloes] OFF
GO
USE [master]
GO
